<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление персону</title>
</head>
<body>
    <h1 th:text="#{app.person.addition}"></h1>
    <br>

    <form action="#" th:action="@{/persons/new_person}" th:object="${person}" method="post">
        <p>Surname: <input type="text" th:field="*{lastName}" /></p>
        <p>Name: <input type="text" th:field="*{firstName}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>