<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1 th:class="main-header" th:text="#{app.welcome}"></h1>
    <h1 th:class="main-header" th:text="#{app.main.page}"></h1>
    <br>
    <a th:text="#{app.person.addition}" th:href="@{persons/new_person}"></a>

    <script th:async type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>